@import url('https://s.gc.gy/fira/FiraCode.css');

body {
  background: #191919;
  color: #d4d4d4;
  height: 100%;
}

* {
  font-family: 'FiraCode';
  font-size: 10pt
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191919;
  height: 100%;
}

form {
  color: #d4d4d4;
}

